@charset "UTF-8";

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import "compass/css3",
"compass/reset",
'logo';
$font: "Microsoft YaHei",
"Arial",
"黑体",
"宋体",
sans-serif;
$logo-color: #0099ff;
*{
    font-family: $font;
}
a {
    color: #000;
    text-decoration: none;
}

body {
    font-family: $font;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: 680px;
}

html {
    height: 100%;
    width: 100%;
    font: 10px/1.5 $font;
}

.header {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 68px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 2.1rem;
    span {
        color: rgba(0, 0, 0, 0.6);
    }
    .setWidth {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        color: rgba(0, 0, 0, 0.6);
        @include display-flex(flex);
        @include align-items(center);
        @include justify-content(space-between);
    }
    .logo {
        .logo-print {
            vertical-align: middle;
        }
    }
    .title-btn {
        float: left;
        position: relative;
        cursor: pointer;
        margin: 0 18px;
        overflow: visible;
        @include transition(all .3s ease-in-out);
    }
    .login,
    .signin {
        @extend .title-btn;
        margin: 0;
    }
    .login + span {
        float: left;
    }
    .titles {
        overflow: hidden;
    }
    .homepage-btn,
    .introduction,
    .art-base,
    .login,
    .signin {
        &::before {
            position: absolute;
            content: attr(data-content);
            display: inline-block;
            top: -100%;
            color: #000;
        }
        &:hover {
            @include transform(translateY(100%));
        }
    }
}

#container {
    height: 200%;
}

.section {
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.first {
    position: relative;
    // background-color: #ccffff;
    @include display-flex(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    min-height: 450px;
    background:url(../img/home.jpg)  #ccffff;
    background-size: cover;
    .main-content {
        text-align: center;
    }
    .des {
        margin-bottom: 20px;
    }
    .next-arrow {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        img {
            cursor: pointer;
        }
    }
    .print-btn {
        width: 277px;
        height: 91px;
        background-color: $logo-color;
        border: 1px solid transparent;
        color: #fff;
        box-sizing: border-box;
        text-align: center;
        line-height: 91px;
        font-size: 8.5rem;
        border-radius: 6px;
        cursor: pointer;
        @include transition(all .5s ease-in-out);
        &:hover {
            border: 1px solid $logo-color;
            background-color: transparent;
            color: $logo-color;
        }
    }
}

.second {
    background-color: #333333;
    min-height: 550px;
    .step-part {
        height: 77%;
        position: relative;
        @include display-flex(flex);
        @include justify-content(center);
        @include align-items(center);
        position: relative;
        background-color: $logo-color;
        overflow: hidden;
        .back-top {
            position: absolute;
            right: 0;
            cursor: pointer;
            bottom: 50px;
        }
    }
    .links {
        height: 23%;
        position: relative;
        overflow: hidden;
        .link-bg {
            position: absolute;
            z-index: 1;
            height: 110%;
        }
        .more {
            margin: 15px;
            width: 100%;
            position: relative;
            z-index: 2;
            height: 100%;
            
            
            .column {
                float: left;
                width: 20%;
                text-align: center;

            }
            .QR{
                    text-align: left;
                }
            .link-content {
                margin-top: 10px;
                >a {
                    color: #999;
                    font-size: 1.6rem;
                    cursor: pointer;
                }
            }
            .link-header {
                color: #fff;
                font-size: 1.8rem;
            }
        }
    }
}

.signin-frame,
.login-frame {
    position: absolute;
    display: none;
    box-shadow: 0px 1px 3px 2px rgba(0, 154, 255, .5);
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 10px 25px;
    span.active {
        border-left: 7px solid $logo-color;
    }
    .header-btn {
        font-size: 1.8rem;
        color: $logo-color;
        text-align: left;
        span {
            padding: 0 4px;
            cursor: pointer;
        }
        .logo-close {
            float: right;
            cursor: pointer;
        }
    }
}

i {
    display: inline-block;
}

.login-frame {
    
    height: 475px;
    width: 343px;
    div {
        text-align: center;
    }
    .header-btn {
        font-size: 1.8rem;
        color: $logo-color;
        text-align: left;
        span {
            padding: 0 4px;
            cursor: pointer;
        }
        .logo-close {
            float: right;
            cursor: pointer;
        }
    }
    .portrait {
        margin-top: 47px;
    }
    .input-frame {
        text-align: center;
        position: relative;
        margin-top: 46px;
        input {
            width: 207px;
            height: 31px;
            border: 1px solid #8ad0ff;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 4px;
            font-size: 1.6rem;
            padding-left: 40px;
            color: #0099FF;
            outline: none;
        }
        input:first-child {
            margin-bottom: 18px;
        }
        i {
            position: absolute;
            left: 67px;
        }
        .logo-user {
            top: 6px;
        }
        .logo-ps {
            top: 54px;
        }
    }
    .forget {
        text-align: right;
        padding-right: 60px;
        margin-top: 4px;
        >a {
            color: $logo-color;
            border-bottom: 1px dashed $logo-color;
        }
    }
    .confirm-btn {
        width: 95px;
        height: 33px;
        border-radius: 4px;
        font-size: 1.8rem;
        background-color: $logo-color;
        outline: none;
        color: #fff;
        border: 0px;
        margin-top: 23px;
        cursor: pointer;
    }
    .link-login {
        margin-top: 15px;
        color: $logo-color;
        cursor: default;
        font-size: 14px;
        span {
            cursor: pointer;
        }
        i {
            vertical-align: middle;
            margin-left: 8px;
            margin-right: 3px;
        }
    }
}

.signin-frame {
    text-align: center;
    width: 342px;
    height: 456px;
    input {
        width: 207px;
        height: 31px;
        border: 1px solid $logo-color;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 4px;
        color: #0099FF;
        padding-left: 15px;
        outline: none;
        font-size:16px;
    }
    .row+.row {
        margin-top: 17px;
    }
    .register {
        margin-top: 53px;
        position: relative;
        span {
            width: 71px;
            display: inline-block;
            text-align: right;
            color:#0099FF;
            font-size: 14px;
        }
        i{
            margin-top: 7px;
            margin-left: 5px;
            position: absolute;
        }
        .CF-code{
            width: 118px;
        }
        .comfir-btn{
            width: 82px;
            margin-top: -4px;
            height: 31px;
            position: relative;
            top: -1px;
            background-color: #0099FF;
            border: 0px;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
        }

    }
    .confirm-btn{
        width: 95px;
        height: 33px;
        background-color: #0099FF;
        border: 0px;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
        font-size: 18px;
        margin-top:24px;
    }
}
