<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>九九打印</title>
	<link rel="stylesheet" type="text/css" href="styles/detect.css">
</head>
<body>
	<div class="attention">
        <div class="tip">
            <div class="tip-head">
                <img src="img/browser/tip.png" alt="友情提示">
            </div>
            <div class="tip-content">
                <img src="img/browser/tip1.png" alt="友情提示">
            </div>
        </div>
        <div class="browser">
            <a href="https://www.google.com/intl/zh-CN/chrome/browser/desktop/index.html" target="_blank" class="xiazai">
                <img src="img/browser/chrome.png" alt="chrome">
            </a>
            <a href="http://www.firefox.com.cn/download/" class="xiazai" target="_blank">
                <img src="img/browser/firefox.png" alt="firefox">
            </a>
            <a href="http://www.opera.com/zh-cn" class="xiazai" target="_blank">
                <img src="img/browser/opera.png" alt="opera">
            </a>
            <a href="https://support.apple.com/zh_CN/downloads/" class="xiazai" target="_blank">
                <img src="img/browser/safari.png" alt="safari">
            </a>
            <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" class="xiazai" target="_blank">
                <img src="img/browser/ie.png" alt="chrome">
            </a>
        </div>
    </div>

</body>
</html>